<nav class="navbar">
  <a routerLink="/" routerLinkActive="active">
    <span class="material-icons">home</span> Inicio
  </a>
  <a *ngIf="!userEmail" routerLink="/login" routerLinkActive="active">
    <span class="material-icons">login</span> Login
  </a>
  <a *ngIf="userEmail" routerLink="/dashboard" routerLinkActive="active">
    <span class="material-icons">dashboard</span> Dashboard
  </a>
  <span *ngIf="userEmail" class="user-info">
    Bienvenido: <b>{{ userEmail }}</b>
    <button class="btn-dark logout-btn" (click)="logout()" title="Cerrar sesión">
      <span class="material-icons">logout</span>
    </button>
  </span>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
